<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Reorder-Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <p>
    Bringen Sie die folgenden historische Ereignisse in die richtige Reihenfolge,
    so dass das früheste Ereignis an erster Stelle steht.
  </p>

  <ion-list>

    <ion-reorder-group [disabled]="false" (ionItemReorder)="onReihenfolgeAenderung($any($event))">

      <ion-item *ngFor="let eintrag of reorderListe">
        <ion-label>{{ eintrag.ereignis }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>

    </ion-reorder-group>
  </ion-list>

</ion-content>
